
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>The Best Software can change Everything</h1>
                            <p>Build Master Piece Web Applications and Mobile Applications FAST</p>
                            <a href="#" class="btn_2 banner_btn_1">Get Started </a>
                           {{!--  <a href="#" class="btn_2 banner_btn_2">Sign up for free </a> --}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner_img d-none d-lg-block">
                        <img src="/sasu/img/banner_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 ">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <img src="/sasu/img/icon/feature_icon_1.png" alt="">
                                    <h4>Web Design & Development</h4>
                                    <p>We design and develop market leading websites that deliver a great first impression and convert visitors into customer. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <img src="/sasu/img/icon/feature_icon_2.png" alt="">
                                    <h4>eCommerce</h4>
                                    <p>We deliver professionally crafted, compelling, intuitive and secure online stores with multiple shipping and payment options.</p>
                                </div>
                            </div>
                            <div class="single_feature">
                                <div class="single_feature_part single_feature_part_2">
                                    <img src="/sasu/img/icon/feature_icon_3.png" alt="">
                                    <h4>Mobile Development</h4>
                                    <p>Our team of mobile app developers are always ready to answer your need</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- 
At Greenmouse, We work for the best
We have developed websites for our awesome clients from all sectors in and outside Nigeria and they have rated us an A-List web design Agency in Nigeria.
Ready for your next project, Join our website design client list
 --}}
                <div class="col-lg-5">
                    <div class="feature_part_text">
                        <h2>Why we are the best</h2>
                        <p>
At Socrateweb, We work for the best
We have developed websites for our awesome clients from all sectors in and outside Nigeria and they have rated us an A-List web design Agency in Nigeria.
Ready for your next project, Join our website design client list
</p>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-5">
                                <div class="feature_part_text_iner">
                                    <h4>150</h4>
                                    <p>Sites Launched</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-5">
                                <div class="feature_part_text_iner">
                                    <h4>40</h4>
                                    <p>Mobile Apps developed</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn_4">learn more <img src="/sasu/img/icon/right-arrow.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
        <img src="/sasu/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
        <img src="/sasu/img/animate_icon/Shape-14.png" alt="" class="feature_icon_2">
        <img src="/sasu/img/animate_icon/Shape-14.png" alt="" class="feature_icon_3">
        <img src="/sasu/img/animate_icon/shape-3.png" alt="" class="feature_icon_4">
    </section>
    <!-- upcoming_event part start-->

    <!-- about_us part start-->
    <section class="about_us section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>Website Design Packages</h2>
                        <p>We can design and develop a website that specifically meets your unique needs, and meets your required standards as well as industry related standards</p>
                        <a href="#" class="btn_1">get started</a>
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="learning_img">
                        <img src="/sasu/img/about_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <img src="/sasu/img/left_sharp.png" alt="" class="left_shape_1">
        <img src="/sasu/img/about_shape.png" alt="" class="about_shape_1">
        <img src="/sasu/img/animate_icon/Shape-16.png" alt="" class="feature_icon_1">
        <img src="/sasu/img/animate_icon/Shape-1.png" alt="" class="feature_icon_4">
    </section>
    <!-- about_us part end-->

    <!-- use sasu part end-->
    <section class="use_sasu">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Our Products</h2>
                        <p>We do not only create for A Product, we create for those that interact with the Products. “ </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <img src="/sasu/img/icon/feature_icon_1.png" alt="">
                            <h4>MCM</h4>
                            <p>A Multi-school management Application capable of managing thousands of school at a go</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <img src="/sasu/img/icon/feature_icon_2.png" alt="">
                            <h4>Hotel App</h4>
                            <p>A Hotel management Application as a service capable of managing multiple hotels at a time</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <img src="/sasu/img/icon/feature_icon_3.png" alt="">
                            <h4>Party App</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="/sasu/img/animate_icon/Shape-14.png" alt="" class="feature_icon_1">
        <img src="/sasu/img/animate_icon/Shape-10.png" alt="" class="feature_icon_2">
        <img src="/sasu/img/animate_icon/Shape-10.png" alt="" class="feature_icon_3">
        <img src="/sasu/img/animate_icon/shape-13.png" alt="" class="feature_icon_4">
    </section>
    <!-- use sasu part end-->

    <!-- about_us part start-->
    <section class="about_us right_time section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="learning_img">
                        <img src="/sasu/img/about_img_1.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>Easy to Use 
                            Mobile Application</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim</p>
                        <a href="#" class="btn_1">get started</a>
                        <a href="#" class="btn_2">sing up free</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="/sasu/img/about_shape.png" alt="" class="about_shape_1">
        <img src="/sasu/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
        <img src="/sasu/img/animate_icon/shape.png" alt="" class="feature_icon_4">
    </section>
    <!-- about_us part end-->

    
    <!-- cta part start-->
    <section class="cta_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="cta_text text-center">
                        <h2>Very useful Friendly</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
                        <a href="#" class="btn_2 banner_btn_1">Get Started </a>
                        <a href="#" class="btn_2 banner_btn_2">Sign up for free </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta part end-->

   