<!-- Start Banner Area -->
	<section class="home-banner-area relative">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1 class="wow fadeIn" data-wow-duration="4s">{{bigSlogan}}</h1>
					<br />

					<p class="text-white">
						{{small_historic_quote}}
					</p>
					<br />
					<br />
					
					<h4 class="text-white">Top Areas</h4>

					<div class="courses pt-20">
						<a href="#" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Morals
						</a>
						<a href="#" data-wow-duration="1s" data-wow-delay=".7s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Etiquettes</a>
						
						<a href="#" data-wow-duration="1s" data-wow-delay="1s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Logical Reasoning</a>
						
						<a href="#" data-wow-duration="1s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
						Best Teachers
						</a>
						<a href="#" data-wow-duration="2s" data-wow-delay="1.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Novice to Ninja</a>
						<a href="#" data-wow-duration="2s" data-wow-delay="2s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">
							Modern Science
						</a>
						<a href="#" data-wow-duration="2s" data-wow-delay="2.5s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">ICT eduction</a>

						<a href="#" data-wow-duration="2s" data-wow-delay="3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Qualified Staffs</a>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="/educature/img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->

