	<!--Start Feature Area -->
	<section class="feature-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>Features That Make Us Heroes</h1>
						<p>
							Here, we help students understand the nature of knowledge–its types, fluidity, uses/abuses and applications. We also train them to be societal heroes, special agent of change and good example to the society
						</p>
					</div>
				</div>
			</div>
			<div class="feature-inner row">
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-crown"></i>
						<h4>A safe environment</h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								Zero tolerance for violence, bullying, drugs, alcohol, offensive weapons, stealing, sexual misconduct, and gangs.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-briefcase"></i>
						<h4>Teamwork</h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
							<p>
								 Identification and collaborative solving of teaching and learning problems at the school.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-medall-alt"></i>
						<h4>Highly Qualified Teachers</h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
							<p>All teachers are highly qualified in the subject being taught. Mostly complemented with an advanced degree.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-key"></i>
						<h4>Parental Involvement </h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								Here we work with the parent and help them understand what they can do. We believe the more the school involves the parent the better the student will behave and perform.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-files"></i>
						<h4>Learning to read</h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
							<p>
								Most children in other Schools, master reading at the age of 6 or 7, but ours master reading before the age of 4. <strong>We have got the Reading Algorithm</strong>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="ti-headphone-alt"></i>
						<h4>Proper Moral Values</h4>
						<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
							<p>
								Here, moral values is one of the key areas in our curriculum. We believe education is worthless without the proper morals, societal norms and Etiquette.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Feature Area -->


