
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>free shipping</h6>
							<p>Suffered Alteration in Some Form</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blogs -->

	<div class="blogs">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h2>Latest Blogs</h2>
					</div>
				</div>
			</div>
			<div class="row blogs_container">
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_1.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_2.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_3.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" href="#">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		div.fixed2 {
   position: fixed;    
    top: 96%;
	left:50%;
	cursor: pointer;    
}
.chatbtn {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 400px;
	border-radius: 15px 15px 1px 1px;
}
#chatbox {
	width: 400px; 
	height: 250px;
	max-height: 250px; 
	overflow-y: scroll;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	position: fixed;
	top: 56%;
	left: 50%;
	background:white;
	
}
.roundImage {
	float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.roundImageAdmin{
	float: right;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.top1-header {
	position: fixed;  
	top: 60%;
	left: 50%;
}
.container-admin {
	background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.container-user {
	background-color: #eee789;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.form-stuffs {
	padding: 10px;
	margin-bottom: 60px;
	width: 400px; 
	max-height: 300px; 
	position: fixed;
	top: 90%;
	left: 50%;
	background:white;
}
.msg {
	color: black;
	font-size: 14px;
}
.time-right {
	font-size: 12px;
	color: gray;
}
#chatsubmitbtn {
	padding: 20px 14px;
	border-radius: 24px;
	
}

#chatsubmitbtn:active, #chatsubmitbtn.active {
	background: darkgreen;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
</style>
<script src="/socket.io/socket.io.js"></script>


<script>
	$(document).ready( function(){
		$(".chatContainer").hide()
	})
</script>
<div class="chatContainer">
	<div class="top1-header">
		<button class="chatbtn">Chat with the Admin	<i class="fa fa-angle-down"></i><span>&nbsp;</span></button>
	</div>
	<div id="chatbox">		
		{{!-- <div class="container-admin" id="container-admin">
			<img src="/images/admin.png" alt="Avatar"  height="50" width="50" class="roundImageAdmin">
			<p>Hello. How are you today?</p>
			<span class="time-right">11:00</span>
		</div> --}}

		<div class="container-user">
			<img src="/images/user-icon.png" alt="Avatar" height="50" width="50" class="roundImage">
			<p>Hey! I'm fine. Thanks for asking!</p>
			<span class="time-left">11:01</span>
		</div>
	</div>	
		
	<div class="form-stuffs">
		<div class="row">
			<form class="chat_form" method="post">
				<div class="col-sm-8">
					<div class="input-group">
						<textarea maxlength="10000" row="3" class="text" cols="30" id="chatMsg" name="chatMsg">
						</textarea>
						{{!-- <button class="btn btn-default input-group-addon" :disabled="!notes">Save</button> --}}
					</div>
				</div>
					<button class="btn btn-success" id="chatsubmitbtn">Send</button>		
			</form>
		</div>
	</div>

<script>
	$('#chatMsg').keypress(function (e) {
		if (e.which == 13) {
			$('.chat_form').submit();
		return false;    //<---- Add this line
		}
	});
	//now thate we have connected the socket they should start emitting and recieving events
	$(function(){
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes();
		$('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
		//var time = $.now();
		//var time = "tiemInwo";

		var socket = io();
		$('.chat_form').submit(function(e){
			e.preventDefault();
			//we are emitting an event called chat message, to the server, we are going to pick it up in the server side
			socket.emit('chat message', $('#chatMsg').val());
			$('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
			$('#chatMsg').val('');
			return false
		});
		socket.on('chat message', function(msg){
			$('#chatbox').append('<div class="container-admin">'+'<p class="msg">'+msg+"</p>"+ '<span class="time-right">'+time +"</span>"+"</div>")
		//	$('.container-admin').append($('<li>').text(msg));
			$('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
		});
	});
 /* <div class="container-admin" id="container-admin">
			<img src="/images/admin.png" alt="Avatar"  height="50" width="50" class="roundImageAdmin">
			<p>Hello. How are you today?</p>
			<span class="time-right">11:00</span>
		</div>*/
</script>
{{!-- <div class="form-stuffs">
	<form class="chat_form" method="post">		
			<input type="text">
			<input type="submit" value="Send"/>
	</form>
</div> --}}

	</div>
</div>
	

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="#">Blog</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2018 Tech Over Flow <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>


</body>

</html>
