<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Basic Page Needs  -->
    <meta name="description" content="Software engineers in Ilorin, Software engineering company in abuja, Web designers Lagos -creative Web designers in Nigeria,best Website designers in Lagos, List of Website designers in Nigeria,Web designers training in Lagos, best website developers, SoftWre developmnt, Web, Mobile App, Enterprise software, eCommerce, Mobile App Development Company in Lagos"/>
    <link rel="canonical" href="http://www.socrateweb.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Web designers in Nigeria-Socrateweb | web designers in Lagos | web designers Training in Lagos | website design company in Lagos" />
    <meta property="og:description" content="Web designers Lagos -creative Web designers in Nigeria,best Website designers in Lagos, List of Website designers in Nigeria,Web designers training in Lagos" />
    <meta property="og:url" content="http://www.socrateweb.com/" />
    <meta property="og:site_name" content="Web design Nigeria - Socrateweb" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Web designers Lagos -creative Web designers in Nigeria,best Website designers in Lagos, List of Website designers in Nigeria,Web designers training in Lagos, Web design Nigeria - Nigeria&#039;s premier web design company, located in Lagos. We also provide e-Commerce, SEO, Digital Marketing and Branding services" />
    <meta name="twitter:title" content="Web Design Nigeria - Socrateweb | Website Designer in Lagos" />
<meta name="twitter:site" content="@socrateweb" />
    <meta charset="utf-8">
    <title>Socrate web || Best Software development company in Nigeria</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <link rel="stylesheet" href="assets/css/magnificpopup.css">
    <link rel="stylesheet" href="assets/css/jquery.mb.YTPlayer.min.css">
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/icon/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <!-- preloader area start -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- preloader area end -->
    <!-- header area start -->
    <header id="header">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="menu-area">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/icon/logo.png" alt="Socrate web"></a>
                            </div>
                        </div>
                        <div class="col-md-9 hidden-xs hidden-sm">
                            <div class="main-menu">
                                <nav class="nav-menu">
                                    <ul>
                                        <li class="active"><a href="#home">Home</a></li>
                                        <li><a href="#feature">Features</a></li>
                                        <li><a href="#screenshot">Screenshot</a></li>
                                        {{!-- <li><a href="#pricing">Pricing</a></li> --}}
                                        <li><a href="#team">Team</a></li>
                                        <li><a href="#download">Download</a></li>
                                        {{!-- <li><a href="#blog">Latest News</a></li> --}}
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- slider area start -->
    <section class="slider-area" id="home">
        <div class="container">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="row">
                    <div class="slider-img">
                        <img src="assets/img/mobile/mobile_dev_web.png" alt="slider image">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="slider-inner text-right">
                        <h2>The Right Software</h2>
                        <h5>Can change everything</h5>
                        <a class="expand-video" href="#"><i class="fa fa-play"></i>Request a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->
    <!-- service area start -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <img src="assets/img/service/service-img1.png" alt="service image">
                        <h2>24/7 Service</h2>
                        <p>24/7 customer care service</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="service-single">
                        <img src="assets/img/service/service-img2.png" alt="service image">
                        <h2>Secure Softwares</h2>
                        <p>Protected and tested softwares</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="service-single">
                        <img src="assets/img/service/service-img3.png" alt="service image">
                        <h2>Customer Satisfaction</h2>
                        <p>We make sure our clients are satisfied</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area end -->
    <!-- about area start -->
    <div class="about-area ptb--100">
        <div class="container">
            <div class="section-title">
                <h2>About Socrate webs</h2>
                <p>We are the fastest growing ICT firms in Nigeria </p>
            </div>
            <div class="row d-flex flex-center">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="about-left-img">
                        <img src="assets/img/about/hybrid-img.png" alt="image">
                    </div>
                </div>
                

                <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                    <div class="about-content">
                        <p>Socrate Web is an ICT services firm specializing in mobile and desktop software development in Nigeria. Whether you need a native mobile app or a mobile web application, we have the expertise to develop mobile applications with mobile-specific functionality and also a responsive web App with fast database system.</p>
                        <p>We are among the nation's fastest growing ICT firms for two reasons – We have a highly talented and dedicated team focussed on delivering innovative solutions, secondly, we continually keep our clients satisfied and happy, making them our repeat customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->
    <!-- feature area start -->
    <section class="feature-area bg-gray ptb--100" id="feature">
        <div class="container">
            <div class="section-title">
                <h2>What makes us Special</h2>
                <p>Here are some of the features that makes us different from others</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-content rtl">
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/1.png" alt="icon">
                            <div class="meta-content">
                                <h2>Enterprise Solution</h2>
                                <p>We strive in identifying the uniqueness in every business, providing them solutions </p>
                            </div>
                        </div>
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/2.png" alt="icon">
                            <div class="meta-content">
                                <h2>Unique Design</h2>
                                <p>Our Unique website designs support cross-browsers and are adaptive to device and type of interaction, from desktops to touch devices. </p>
                            </div>
                        </div>
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/3.png" alt="icon">
                            <div class="meta-content">
                                <h2>Mobile App</h2>
                                <p>Mobile development is much more than just an app, it’s more like delivering what a user need at the exact moment </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="ft-screen-img">
                        <img src="assets/img/mobile/screen-slider.png" alt="image">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-content">
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/4.png" alt="icon">
                            <div class="meta-content">
                                <h2>Expert Support Team</h2>
                                <p>Technical support is irreplacible and can't be subtituted, We'll get the right Software Engineer on it ASAP.</p>
                            </div>
                        </div>
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/5.png" alt="icon">
                            <div class="meta-content">
                                <h2>World Class Solutions</h2>
                                <p>Fast, Scalable, Safe and Secure architecture, Our Software development team are the best.</p>
                            </div>
                        </div>
                        <div class="ft-single">
                            <img src="assets/img/icon/feature/6.png" alt="icon">
                            <div class="meta-content">
                                <h2>Enterprise Solutions</h2>
                                <p>Banks, Schools, Financial Institutes, Payment Gateways, Large, Medium and Small Business and more, you mention it, We deliever it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end -->
    <!-- achivement area start -->
    <div class="achivement-area ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <p><span class="counter">100</span>k</p>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-book"></i></div>
                        <span class="counter">18</span>
                        <h5>Projects complet</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-coffee"></i></div>
                        <p><span class="counter">120</span>k</p>
                        <h5>Graduated Students</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="ach-single">
                        <div class="icon"><i class="fa fa-trophy"></i></div>
                        <span class="counter">10</span>
                        <h5>Winning awards</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- achivement area end -->
    <!-- screen slider area start -->
    <section class="screen-area bg-gray ptb--100" id="screenshot">
        <div class="container">
            <div class="section-title">
                <h2>Screenshot</h2>
                <p>Screenshot of some of our applications</p>
            </div>
            <img class="screen-img" src="assets/img/mobile/screen-slider.png" alt="mobile screen">
            <div class="screen-slider owl-carousel">
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen1.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen2.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen5.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
                </div>
                <div class="single-screen">
                    <img src="assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
                </div>
            </div>
        </div>
    </section>
    <!-- screen slider area end -->
    <!-- video area start -->
    <div class="video-area ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h2>Watch Video Demo</h2>
                    <p>Watch our video on Youtube by clicking this link</p>
                    <a class="expand-video" href="https://www.youtube.com/watch?v=8qs2dZO6wcc"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- video area end -->
   {{!--  <!-- pricing area start -->
    <section class="pricing-area ptb--100" id="pricing">
        <div class="container">
            <div class="section-title">
                <h2>Pricing Plan</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>50/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>150/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                    <div class="single-price">
                        <div class="prc-head">
                            <span>Silver</span>
                            <h5><small>$</small>250/m</h5>
                        </div>
                        <ul>
                            <li>10 User</li>
                            <li>1 Year</li>
                            <li>512 Mb Memory</li>
                            <li>30GB SSD Disk</li>
                            <li>1 TB Transfer</li>
                            <li>6 Months Support</li>
                        </ul>
                        <a href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing area end --> --}}
    <!-- team area start -->
    <section class="team-area bg-gray ptb--100" id="team">
        <div class="container">
            <div class="section-title">
                <h2>Our Amazing Team</h2>
                <p>We have the experts who are ready to make your dreams a reality</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/img/team/alex.png" alt="image">
                        </div>
                        <h4>Emmanuel Olurunmaiye</h4>
                        <span>Cyber Security</span>
            
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/img/team/theoderic_onipe.png" alt="image">
                        </div>
                        <h4>Theoderic Onipe</h4>
                        <span>Software Engineer</span>
                      
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/img/team/james.png" alt="image">
                        </div>
                        <h4>James Adeoti</h4>
                        <span>Business Intelligience</span>
                       
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- team area end -->
    <!-- call-action area start -->
    <section class="call-to-action ptb--100" id="download">
        <div class="container">
            <div class="section-title text-white">
                <h2>Our Applications</h2>
                <p>We develop applications for all devices</p>
            </div>
            <div class="download-btns btn-area text-center">
                <a href="#"><i class="fa fa-apple"></i>android phone</a>
                <a href="#"><i class="fa fa-windows"></i>Windows phone</a>
                <a href="#"><i class="fa fa-android"></i>IOS phone</a>
            </div>
        </div>
    </section>
    <!-- client area end -->
    <!-- contact area start -->
    <section class="contact-area ptb--100" id="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact Us</h2>
                <p>Request a quote today</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <form action="#">
                            <input type="text" name="name" placeholder="Enter Your Name">
                            <input type="text" name="email" placeholder="Enter Your Email">
                            <textarea name="msg" id="msg" placeholder="Your Message "></textarea>
                            <input type="submit" value="Send" id="send">
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact_info">
                        <div class="s-info">
                            <i class="fa fa-map-marker"></i>
                            <div class="meta-content">
                                <span>24 jabi abuja</span>
                                <span>Abuja Nigeria</span>
                            </div>
                        </div>
                        <div class="s-info">
                            <i class="fa fa-mobile"></i>
                            <div class="meta-content">
                                <span>+2347039148866</span>
                                <span>+2349012813023</span>
                            </div>
                        </div>
                        <div class="s-info">
                            <i class="fa fa-paper-plane"></i>
                            <div class="meta-content">
                                <span>Support@socrateweb.com</span>
                               
                            </div>
                        </div>
                        <div class="c-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact area end -->
    <!-- footer area start -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://socrateweb.com" target="_blank">Socrateweb</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- Scripts -->
    <script src="assets/js/jquery-3.2.0.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/counterup.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>