<div class="container-fluid">
           
            <!-- Advanced Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Create Specials in the Special Section in the homepage</h2>
                            
                        </div>
   
        <div class="body">
            <form id="form_advanced_validation" action="/admin/create_special" method="POST" enctype="multipart/form-data">
                
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="What makes Us Special" class="form-control" name="header">
                        
                    </div>
                    <div class="help-info">Header</div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="There are many Unique featues that makes us very special in Our Great School" class="form-control" name="header2">
                        
                    </div>
                    <div class="help-info">Header2</div>
                </div>
                 
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="50 years of Experience" class="form-control" name="special1">
                       
                    </div>
                    <div class="help-info">Special 1</div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="We are the best at training of your kids, we have alot of experience in this area" name="special1Description">
                        
                    </div>
                    <div class="help-info">Special 1 Description</div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="Spacious and serene learning environment" class="form-control" name="special2">
                    
                    </div>
                    <div class="help-info">Special 2</div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input placeholder="the learning environment is very clean serene and beautiful" type="text" class="form-control" name="special2Description">
                      
                    </div>
                    <div class="help-info">Special 2 Description</div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="Excursions beyond the boundaries of Nigeria" class="form-control" name="special3">
                       
                    </div>
                    <div class="help-info">Special 3</div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input placeholder="Our pupils go on Excursions across nigeria and the whole world" type="text" class="form-control" name="special3Description">
                        
                    </div>
                    <div class="help-info">Special 3 Description</div>
                </div>

                 <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="Hostel facilities available" class="form-control" name="special4">
                       
                    </div>
                    <div class="help-info">Special 4</div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" placeholder="When it comes ultra-modern hostel facilities, we are the best" class="form-control" name="special4Description">
                       
                    </div>
                    <div class="help-info">Special 4 Description</div>
                </div>

                                
                <input type="hidden" value="{{school_id}}" name="school_id" >
                                        
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Advanced Validation -->

        </div>


