<div class="col-12">
  <div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create Category</h4>

      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputEmail1">Category Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
       
        <button type="submit" class="btn btn-success mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
</div>