<div class="container-fluid">
            <div class="block-header">
                <h2>Select A report Type for the Student</h2>
            </div>   

            <div class="row clearfix">
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                          <a href="/admin/primary_report/{{pupil_id}}"><i class="material-icons">person_add</i></a>
                        </div>
                        <div class="content">
                            <div class="text">Primary School</div>
                         
                        </div>
     
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/jss_class_report/{{pupil_id}}"><i class="material-icons">https</i></a>
                        </div>
                       
                        <div class="content">
                          <div class="text">JSS Class Report</div>  
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <a href="/admin/senior_class_report/{{pupil_id}}"><i class="material-icons">create</i></a>
                        </div>
                        <div class="content">
                            <div class="text">SS Class Report</div>
                            
                        </div>
                    </div>
                </div>

            <!-- #END# Widgets -->


</div>

