        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    Report Card TABLE
                 
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
           
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <table id="mainTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Test 1</th>
                                        <th>Test 2</th>
                                        <th>Test 3</th>
                                        <th>Exam</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>English Language</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Mathematics</td>
                                        <td>330</td>
                                        <td>240</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Nigerian Language(Yoruba)</td>
                                        <td>430</td>
                                        <td>540</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Basic Science</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>0</td>
                                         <td>0</td>
                                         <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Social Studies</td>
                                        <td>330</td>
                                        <td>240</td>
                                        <td>1</td>
                                         <td>0</td>
                                         <td>0</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

