

        <div class="container-fluid">
            <div class="block-header">
                <h2>{{pupil.first_name}} {{pupil.middle_name}} {{pupil.last_name}} DASHBOARD</h2>
            </div>


             <!-- Widgets -->
           
            <div class="row clearfix">
 
                {{!--   generated_result_key: 'Eaqueenimerroreni.Molestiaevoluptatem.0875',
    generated_password_key: '0875',
 --}}
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            {{!-- view_pupils_result_by_pupil_id/:pupil_id --}}
                            <a href="/admin/view_pupils_result_by_pupil_id/{{pupil.id}}"><i class="material-icons">announcement</i></a>
                        </div>
                        <div class="content">
                            <div class="text">My Results</div>
                        
                        </div>
                    </div>
                </div>
               
            </div>

        </div>

