<!DOCTYPE html>
<html>
<head>
<title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- font-awesome icons -->
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/stylexx.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/stylex.css" rel="stylesheet" type="text/css" media="all" />

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
{{!-- <script type="text/javascript" src="/js/easing.js"></script> --}}
<script src="js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/js/custom.js"></script>

<!-- //font-awesome icons -->
<!-- js -->
{{!-- 
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling --> --}}

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
 <script>
		$(document).ready(function(){
			setTimeout(function(){
    	$('.notice_wrapper').slideUp('slow', function(){
        	$(this).remove();
          })
        }, 2000);
	
});
</script>
<!-- start-smoth-scrolling -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps -->

</head>
<body>
<!-- js -->
{{!-- <script src="js/jquery-1.11.1.min.js"></script> --}}
    {{#if message.success}}
        <div class="notice_wrapper">		  	
            <p class="alert">{{message.success}}</p>				
        </div>
	{{else if message.error}}
	<div class="notice_wrapper_error">			
		<p class="alert">{{message.error}}</p>
	</div>
    {{/if}}
  {{> header }}
 {{{body}}}
 
       {{> footer }}
</body>
</html>